/* app/styles/Inventory.module.css */
.inventory {
  padding: 20px;
}

.table {
  width: auto;
  border-collapse: collapse;
}

.td, .th {
  border: 1px solid rgb(48, 48, 48);
  padding: 10px;
  text-align: left;
  white-space: nowrap; /* Prevents content from wrapping */
}

.form {
  width: 100%;
  box-sizing: border-box; 
  margin-bottom: 20px;
}
