/* app/styles/Inventory.module.css */


.table {
  width: auto;
  border-collapse: collapse;
}

.td, .th {
  border: 1px solid var(--neutral-2);
  text-align: left;
  white-space: nowrap; /* Prevents content from wrapping */
}
