.navs {
    display: flex;
    width: 100%;
    max-width: 90rem;
    height: 100%;

    align-items: center;
}

.navs a {
    border-radius: 0.5rem;
    transition: all 125ms ease-in-out;

}

.navs a:first-child {
    margin-right: auto;
}

.navs a:hover {
    color: var(--neutral-6);
    background-color: var(--neutral-2);
}

