.navs {
    position: absolute;
    max-width: 90rem;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
}

.navs a {
    border-radius: 0.5rem;
    transition: all 125ms ease-in-out;
}

.navs a:first-child {
    margin-right: auto;
}

.navs a:hover {
    color: var(--neutral-6);
    background-color: var(--neutral-2);
}

